ul.cris-publications li {
	margin-bottom: 15px;
	line-height: 150%;
}

ul.cris-gallery {
	list-style-type: none;
	margin-left: 0;
}
ul.cris-gallery li {
	float: left;
	width: 200px;
	margin: 0 10px 10px 0;
	font-size: .9em;
	list-style-type: none;
}
ul.cris-gallery li img {
	display: block;
	margin: 0 auto 10px;
	max-width: 180px;
	max-height: 180px;
}
ul.cris-gallery li .noimage {
	display: block;
	margin: 0 auto 10px;
	width: 130px;
	height: 180px;
	background-color: #f8f8f8;
}