ul.cris-publications li {
    margin-bottom: 15px;
    line-height: 150%;
}

ul.cris-gallery {
    list-style-type: none;
    margin-left: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
ul.cris-gallery li {
    float: left;
    width: 200px;
    margin: 0 10px 10px 0;
    font-size: 1em;
    list-style-type: none;
    min-height: 245px;
    background: none;
    padding:0;
}
ul.cris-gallery li p {
    font-size: 1em;
}
ul.cris-gallery li img {
    display: block;
    margin: 0 0 10px;
    max-width: 180px;
    max-height: 180px;
}
ul.cris-gallery li .imgsrc {
    font-size: .9em;
}
ul.cris-gallery li .noimage {
    display: block;
    margin: 0 0 10px;
    width: 130px;
    height: 180px;
    background-color: #eee;
}
ul.cris-projects .project-type,
div.cris-projects .project-type {
    font-style: italic;
}

ul.cris-projects .project-title {
    font-weight: bold;
}
.js ul.cris-projects .abstract-title:hover {
    cursor: pointer;
}
.js ul.cris-projects .abstract-title:after {
    content: '\25BC';
}
.js ul.cris-projects .abstract-title.open:after {
    content: '\25B2';
}
.js .cris-projects .abstract {
    display: none;
}

ul.cris-activities {
    padding-left: 30px;
    text-indent: -30px;
    margin-left: 0;
}

ul.cris-activities li {
    margin-bottom: .3em;
    list-style-type: none;
}