ul.cris-publications li {
    margin-bottom: 15px;
    line-height: 150%;
}
ul.cris-publications p {
    margin-bottom: 0;
}
ul.cris-publications.no-list {
    margin-left: 0;
    padding-left: 0;
}
ul.cris-publications.no-list li {
    list-style-type: none;
}

ul.cris-gallery {
    list-style-type: none;
    margin-left: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
ul.cris-gallery li {
    float: left;
    width: 200px;
    padding: 0 10px 10px 0;
    font-size: 1em;
    list-style-type: none;
    min-height: 245px;
    background: none;
}
ul.cris-gallery li p {
    font-size: 1em;
}
ul.cris-gallery li img {
    display: block;
    margin: 0 0 10px;
    max-width: 180px;
    max-height: 180px;
}
ul.cris-gallery li .imgsrc {
    font-size: .9em;
}
ul.cris-gallery li .noimage {
    display: block;
    margin: 0 0 10px;
    width: 130px;
    height: 180px;
    background-color: #eee;
}

ul.cris-projects li {
    margin-bottom: 15px;
    line-height: 150%;
}

ul.cris-projects .project-type,
div.cris-projects .project-type {
    font-style: italic;
}

ul.cris-projects .project-title {
    font-weight: bold;
}
ul.cris-projects h3.project-title {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: inherit;
    line-height: inherit;
}

.js ul.cris-projects .abstract-title:hover {
    cursor: pointer;
}
.js ul.cris-projects .abstract-title:after {
    content: '\25BC';
}
.js ul.cris-projects .abstract-title.open:after {
    content: '\25B2';
}
.js .cris-projects .abstract {
    display: none;
}

div.cris-activities {
    margin-bottom: .3em;
}

ul.cris-activities li {
    margin-bottom: .3em;
    list-style-type: circle;
}

ul.cris-equipment .equipment-name {
    font-weight: bold;
}

.cris-image img {
/*    float: right;
    margin: 0 0 10px 20px;*/
    max-height: 180px;
    max-width: 180px;
}

.cris-publications .oa-icon {
    display: inline-block;
    min-width: 10px;
    min-height: 16px;
    margin-left: 5px;
    background-image: url(../img/OpenAccess16px.png);
    position: relative;
    top: 2px;
}

.cris-publications .alignleft {
    margin-left: 0;
    margin-bottom: 0;
}

.cris-publications .alignright {
    margin-bottom: 0;
}

.cris-award div[class*="-columns-"] {
    margin-bottom: 10px;
}
.cris-award button.standard-btn,
.cris-award a.standard-btn {
    margin-bottom: 10px;
}
.cris-award .elements-divider {
    padding-top: 3px;
    margin-bottom: 3px;
}

.equipment-description ul {
    margin-left: 0;
    padding-left: 25px;
    overflow: hidden;
}

.equipment-details {
    padding-bottom: .5em;
}

div.cris-standardization {
    margin-bottom: 1em;
}

@media print {
    .cris-activities a[href]::after,
    .cris-awards a[href]::after,
    .cris-fields a[href]::after, 
    .cris-organisation a[href]::after,
    .cris-patents a[href]::after, 
    .cris-projects a[href]::after,
    .cris-publications a[href]::after {
        content: '' !important;
    }
    .wpel-icon {
        display: none !important;
    }
}